body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.state-results {
  min-width: 180px;
}

.state-results > h1 {
  font-weight: bold;
  font-size: 18px;
}

.state-results > .row {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.state-results > .row > .color-bar {
  width: 10px;
  height: 18px;
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 4px;
}

.state-results > .row > p {
  transform: translateY(-2px);
}

.state-results > .vote-count {
  margin-left: 20px;
  font-size: 14px;
  font-style: italic;
  transform: translateY(-4px);
}

.national-results > tr > th  {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid black;
}

.national-results > * > * {
  min-width: 150px;
}

.national-results > .win {
  font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;